html, body, #root, .quote-container {
	height: 100%;
}
body {
	background: #eee;
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 0;
}

.quote-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.quote-box {
	background: #fff;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	color: #3887ca;
	padding: 30px;
	width: 450px;
}

.quote-box .quote-text {
	font-size: 2em;
	font-weight: bold;
	margin: 10px 0;
}
.quote-box .quote-author {
	font-size: 1.2em;
	text-align: right;
}

.quote-box .btn {
	background: #3887ca;
	color: #fff;
	font-size: 1em;
	float: right;
	margin: 20px 0 0 0;
	outline: none;
	padding: 10px 15px;
}